<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat New posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts" enctype="multipart/form-data">

        <input placeholder="enter username" name="username" class="naam"> <br> <br>
        <textarea name="content" placeholder="write your post" class="tax"></textarea> <br> <br>
        <div class="content">
            <!-- <input type="file" name="image"  id="image" accept="image/*" width="300px" height="200px"> -->
            
        </div>
    
<button class="Submit">Submit post</button>


    </form>
</body>
</html>